<div class="news">
  <h5 style="text-align: center; font-size: 150%; font-weight: 600; padding: 10px 0 10px 0;">Updates</h5>
  <div class="table-responsive">
    <table class="table table-sm table-borderless">
      <tr><td style="padding-top: 0rem; padding: 0 0 0 0;">
        [01/2026] <a href="https://arxiv.org/abs/2502.04892" target="_blank">BDO</a> accepted to ICLR 2026.
      </td></tr>
      <tr><td style="padding-top: 0rem; padding: 0 0 0 0;">
        [09/2025] <a href="https://openreview.net/forum?id=0aqslPPVPM" target="_blank">FAS</a> and
        <a href="https://arxiv.org/abs/2507.02315" target="_blank">Self-distilled TSMC</a>,
        accepted to FPI@NeurIPS 2025 and received the AITHYRA Travel Grant.
      </td></tr>
      <tr><td style="padding-top: 0rem; padding: 0 0 0 0;">
        [02/2025] <a href="https://arxiv.org/abs/2410.05602" target="_blank">ACSSM</a> accepted to ICLR 2025 (Oral 1.8%)
      </td></tr>
      <tr><td style="padding-top: 0rem; padding: 0 0 0 0;">
        [10/2024] <a href="https://arxiv.org/abs/2405.20630" target="_blank">DBFS</a> accepted to NeurIPS 2024 and received the NeurIPS 2024 Scholar Award.
      </td></tr>
    </table>
  </div>
</div>